body.dey {
  font-family: 'open_sansregular';
  font-size: 16px;
}
.nav-bar-static {
  position: relative;
  width: 100%;
  padding: 80px 0 60px;
}
.nav-bar-static .logo a:hover {
  text-decoration: none;
}
.nav-bar-static .logo a:focus {
  text-decoration: none;
}
.nav-bar-static .logo a:active {
  text-decoration: none;
}
.nav-bar-static .logo h1 {
  letter-spacing: 0.5em;
  font-family: 'dosislight';
  font-size: 3.5em;
  margin: 10px;
}
@media (max-width: 992px) {
  .nav-bar-static .logo h1 {
    text-align: center;
  }
}
.nav-bar-static .main-nav ul {
  margin-top: 10px;
}
.nav-bar-static .main-nav ul li {
  overflow: hidden;
}
.nav-bar-static .main-nav ul li:before {
  content: '';
  z-index: 50;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 0;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
  background-color: #45a4f5;
}
.nav-bar-static .main-nav ul li:hover:before {
  width: 3px;
}
.nav-bar-static .main-nav ul li a {
  color: #333;
  height: 60px;
  padding: 20px;
  border-radius: none;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.nav-bar-static .main-nav ul li a:hover {
  background-color: transparent;
  color: #337ab7;
}
.nav-bar-static .main-nav ul li a:focus {
  background-color: transparent;
}
.nav-bar-static .main-nav ul li a:active {
  background-color: transparent;
}
.nav-bar-static .secondary-nav .right-nav {
  text-align: center;
}
.nav-bar-lang {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-bottom: 2px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
.nav-bar-lang .lang-drop {
  float: right;
}
.nav-bar-lang .lang-drop .open .btn {
  box-shadow: none;
}
.nav-bar-lang .lang-drop .btn {
  border: 0px;
}
.nav-bar-lang .lang-drop .btn:hover {
  background-color: transparent;
}
.nav-bar-lang .lang-drop .btn:after {
  display: none;
}
.nav-bar-lang .lang-drop .lang-selection {
  min-width: 0;
  border-radius: 0;
  padding: 0;
  border: 0px;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.175);
}
.nav-bar-lang .lang-drop .lang-selection li {
  padding: 0;
}
.nav-bar-lang .lang-drop .lang-selection li a {
  padding: 5px 13px 5px 5px;
}
/* NAV */
.btn.btn-light {
  display: inline-block;
  position: relative;
  border-radius: 20px;
  padding: 10px 20px;
  border: 1px solid #eee;
  overflow: hidden;
  background-color: transparent;
}
.btn.btn-light.rectangular {
  border-radius: 0;
}
.btn.btn-light.sm {
  padding: 5px;
}
.btn.btn-light:hover:after {
  height: 100%;
}
.btn.btn-light:active {
  box-shadow: none;
}
.btn.btn-light span {
  z-index: 2;
  position: relative;
}
.btn.btn-light:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  -webkit-transition: height 0.3s ease;
  transition: height 0.3s ease;
  background-color: #eee;
}
.main-hero h1 {
  color: #fff;
  margin-top: 0;
  word-wrap: break-word;
  font-size: 1.5em;
}
@media (min-width: 768px) {
  .main-hero h1 {
    font-size: 2em;
  }
}
@media (min-width: 992px) {
  .main-hero h1 {
    font-size: 3em;
  }
}
.main-hero h3 {
  color: #fff;
  font-size: 1em;
}
@media (min-width: 768px) {
  .main-hero h3 {
    font-size: 1.5em;
  }
}
@media (min-width: 992px) {
  .main-hero h3 {
    font-size: 2em;
  }
}
.anchor {
  position: absolute;
  top: -79px;
}
.no-gutter {
  padding: 0!important;
  margin: 0!important;
}
section {
  padding: 40px 0 60px 0;
  position: relative;
  background-color: #f1f1f1;
  overflow-x: hidden;
}
section:nth-child(even) {
  background-color: #fff;
}
section:nth-child(even) .arrow2:before {
  background-color: #f1f1f1;
}
section:nth-child(even) .arrow2:after {
  background-color: #f1f1f1;
}
section:nth-child(even) .arrow-down {
  border-top: 20px solid #f1f1f1;
}
section:nth-child(odd) .subheader:after {
  background-color: #f1f1f1;
}
section .arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #fff;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}
section .arrow-down.arrow-light {
  border-top: 20px solid #fff;
}
section .arrow-wrap {
  position: absolute;
  pointer-events: none;
}
.arrow2:before {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 50%;
  left: -10px;
  height: 20px;
  background-color: #fff;
  -webkit-transform: skew(45deg);
  -moz-transform: skew(45deg);
  -o-transform: skew(45deg);
  -ms-transform: skew(45deg);
  transform: skew(45deg);
}
.arrow2:after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 50%;
  right: -10px;
  height: 20px;
  background-color: #fff;
  -webkit-transform: skew(-45deg);
  -moz-transform: skew(-45deg);
  -o-transform: skew(-45deg);
  -ms-transform: skew(-45deg);
  transform: skew(-45deg);
}
.subheader {
  border-bottom: 1px solid #dedede;
  padding: 20px;
  margin-bottom: 30px;
  position: relative;
}
.subheader:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #fff;
  border: 1px solid #dedede;
}
.panel.alpha {
  padding: 20px;
  text-align: center;
  margin: 0 auto 20px auto;
  max-width: 700px;
  color: #fff;
  background-color: rgba(51, 122, 183, 0.8);
  position: relative;
}
/* Specifics */
.section-hero {
  background-image: url("i/sthlm.jpg");
  background-position: center;
  background-size: cover;
  color: #fff;
}
.section-hero .subheader {
  border-bottom: 0px;
}
.section-hero .subheader:after {
  display: none;
}
.section-about {
  background-image: url("i/sthlm.jpg");
  background-position: center;
  background-size: cover;
  color: #fff;
}
.section-about .subheader {
  border-bottom: 0px;
}
.section-about .subheader:after {
  display: none;
}
.table-products {
  margin-top: 40px;
}
.fading-success {
  padding: 10px;
  background: transparent;
  animation: fadeout 10s;
}
@keyframes fadeout {
  from {
    background-color: #dff0d8;
  }
  to {
    background-color: transparent;
  }
}
/* extra util */
@media (max-width: 437px) {
  .hidden-xxs {
    display: none !important;
  }
}
@media (min-width: 438px) {
  .visible-xxs {
    display: none !important;
  }
}
